Nodered_flow.txt
[{"id":"18217c60.f9f584","type":"watson-speech-to-text","z":"deb0d57.1c46528","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"7WMzC7wQMEvl","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":165,"y":116,"wires":[["a2dfc749.b3a4b8","39217a91.9e31a6"]]},{"id":"8913f1cb.4e1b9","type":"microphone","z":"deb0d57.1c46528","name":"","x":108,"y":51,"wires":[["18217c60.f9f584"]]},{"id":"a2dfc749.b3a4b8","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"true","x":274,"y":160,"wires":[]},{"id":"15c9caee.88de85","type":"watson-conversation-v1","z":"deb0d57.1c46528","name":"","workspaceid":"439d51f8-2fa5-4744-8660-5c4c673b740e","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":426,"y":276,"wires":[["2c3af1ca.ce5dee"]]},{"id":"39217a91.9e31a6","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":115,"wires":[["15c9caee.88de85"]]},{"id":"c9558bdd.0c6718","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":992.0000076293945,"y":126.50000381469727,"wires":[]},{"id":"2c3af1ca.ce5dee","type":"function","z":"deb0d57.1c46528","name":"Extract Msg","func":"msg.payload = msg.payload.output.text[0];\nif (msg.payload == 'total_power')\n { \n  var power = global.get('PowerTotal')\n  var value = power * 4.000;\n   msg.payload = 'You have consumed the total power of'+power+' kWh and your estimated bill amount is '+value+' Indian Rupees!'\n  }\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["c9558bdd.0c6718","57473637.8885a8","fbc6f469.370fc8","2b51546c.247c7c","6fe21369.2edcec"]]},{"id":"bc596e9f.34f42","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"true","x":415,"y":402,"wires":[]},{"id":"57473637.8885a8","type":"slackbot-reply","z":"deb0d57.1c46528","slackbot":"64af3e36.83539","name":"","x":995.0000076293945,"y":179.50000381469727,"wires":[]},{"id":"fbc6f469.370fc8","type":"function","z":"deb0d57.1c46528","name":"Switch the status","func":"if (msg.payload ==\"both turned on\")\n   {  global.set('Status',1);  }\nelse if (msg.payload ==\"both turned off\")\n   {  global.set('Status',2);  }\nelse if (msg.payload ==\"LIGHTS_TURNED_ON\")\n   {  global.set('Status',3);  }\nelse if (msg.payload ==\"LIGHTS_TURNED_OFF\")\n   {  global.set('Status',4);  }\nelse if (msg.payload ==\"FAN_TURNED_ON\")\n   {  global.set('Status',5);  }\nelse if (msg.payload ==\"FAN_TURNED_OFF\")\n   {  global.set('Status',6);  }\nmsg.payload= global.get('Status');\nreturn msg;","outputs":1,"noerr":0,"x":816.2500076293945,"y":294.5000057220459,"wires":[["49959bc2.9ba454","33143d4a.ec1262","2ff8422b.4f73be"]]},{"id":"49959bc2.9ba454","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"false","x":1036.5000114440918,"y":303.2500057220459,"wires":[]},{"id":"99c32bfb.181758","type":"http in","z":"deb0d57.1c46528","name":"Request from Pi","url":"/status?","method":"get","upload":false,"swaggerDoc":"","x":286.25,"y":532.0000076293945,"wires":[["1e708b30.daef85","13d9ed32.d500f3","81320e9f.9fbb1","2cd1b379.e8170c"]]},{"id":"547fe8a9.e077a8","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":556.0000076293945,"y":438.5000057220459,"wires":[]},{"id":"1e708b30.daef85","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.payload = global.get('Status');\nreturn msg;","outputs":1,"noerr":0,"x":425.25000762939453,"y":467.0000057220459,"wires":[["547fe8a9.e077a8"]]},{"id":"b616ee59.ba482","type":"ui_text_input","z":"deb0d57.1c46528","name":"","label":"","group":"23537295.a10a5e","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"300","topic":"","x":73,"y":256,"wires":[["44af8300.ec322c"]]},{"id":"16bcac22.15b084","type":"ui_audio","z":"deb0d57.1c46528","name":"","group":"23537295.a10a5e","voice":"en-US","always":false,"x":1060.5000114440918,"y":236.75000381469727,"wires":[]},{"id":"2b51546c.247c7c","type":"watson-text-to-speech","z":"deb0d57.1c46528","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"N51ahifU0UVb","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":855.2500076293945,"y":230.25000381469727,"wires":[["16bcac22.15b084"]]},{"id":"fe1116f8.40f538","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"549337c6.7a50d8","order":1,"width":"6","height":"4","gtype":"wave","title":"","label":"","format":"{{value}}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.5","seg2":"0.5","x":1031.2500114440918,"y":472.00000762939453,"wires":[]},{"id":"998aa770.fbdb58","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"f2dcd635.6b8308","order":0,"width":"6","height":"4","gtype":"wave","title":"","label":"","format":"{{value}}","min":"0","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.5","seg2":"0.5","x":1010.2500152587891,"y":546.7500076293945,"wires":[]},{"id":"13d9ed32.d500f3","type":"function","z":"deb0d57.1c46528","name":"function","func":"var contact = msg.payload;\nmsg.payload = parseFloat(contact.light);\nreturn msg;","outputs":"1","noerr":0,"x":771.25,"y":584.75,"wires":[["fe1116f8.40f538","4638d13f.18c22","25a412bf.9530ee"]]},{"id":"81320e9f.9fbb1","type":"function","z":"deb0d57.1c46528","name":"function","func":"var contact = msg.payload;\nmsg.payload = parseFloat(contact.fan);\nreturn msg;","outputs":"1","noerr":0,"x":758.5000114440918,"y":632.0000076293945,"wires":[["998aa770.fbdb58","a8e46220.a32c8","25a412bf.9530ee"]]},{"id":"33143d4a.ec1262","type":"function","z":"deb0d57.1c46528","name":"Bulb Command","func":"if(msg.payload==1 || msg.payload==3)\n    {msg.payload = 1;\n    return msg;}\nelse if(msg.payload==2 || msg.payload==4)\n    {msg.payload = 0;\n    return msg;}\n","outputs":1,"noerr":0,"x":1048.7500076293945,"y":353.2500066757202,"wires":[["48eab7ac.935348"]]},{"id":"2ff8422b.4f73be","type":"function","z":"deb0d57.1c46528","name":"Fan Command","func":"if(msg.payload==1 || msg.payload==5)\n    {msg.payload = 1;\n     return msg;}\nelse if(msg.payload==2 || msg.payload==6)\n    {msg.payload = 0;\n    return msg;}\n","outputs":1,"noerr":0,"x":912.5000095367432,"y":404.25000762939453,"wires":[["44c7f49f.18edec"]]},{"id":"6fe21369.2edcec","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":92,"y":218,"wires":[["b616ee59.ba482"]]},{"id":"2cd1b379.e8170c","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":485.75,"y":595.25,"wires":[]},{"id":"48eab7ac.935348","type":"function","z":"deb0d57.1c46528","name":"Last Update for Bulb","func":"msg.payload = new Date();\n//return msg;\nvar UTC = msg.payload;\n//var UTC = UTC.getTime(); // Get UTC Timestamp\n\nvar IST = msg.payload; // Clone UTC Timestamp\nIST.setHours(IST.getHours() + 5); // set Hours to 5 hours later\nIST.setMinutes(IST.getMinutes() + 30); // set Minutes to be 30 minutes later\n\n//msg.payload = IST.getDay()+\" \"+IST.getDate().toString()+\"-\"+IST.getMonth().toString()+\"-\"+IST.getYear().toString()+\"  \"+IST.getHours().toString()+\":\"+IST.getMinutes().toString()+\"\";\n//msg.payload = (UTC.getYear()).toString();\n//msg.payload = IST;\nmsg.payload = (msg.payload.toString()).slice(0, -14);\nreturn msg;","outputs":1,"noerr":0,"x":1311.2500190734863,"y":382.5000057220459,"wires":[["a415903c.1833a"]]},{"id":"44c7f49f.18edec","type":"function","z":"deb0d57.1c46528","name":"Last Update for Fan","func":"msg.payload = new Date();\n//return msg;\nvar UTC = msg.payload;\n//var UTC = UTC.getTime(); // Get UTC Timestamp\n\nvar IST = msg.payload; // Clone UTC Timestamp\nIST.setHours(IST.getHours() + 5); // set Hours to 5 hours later\nIST.setMinutes(IST.getMinutes() + 30); // set Minutes to be 30 minutes later\n\n//msg.payload = IST.getDay()+\" \"+IST.getDate().toString()+\"-\"+IST.getMonth().toString()+\"-\"+IST.getYear().toString()+\"  \"+IST.getHours().toString()+\":\"+IST.getMinutes().toString()+\"\";\n//msg.payload = (UTC.getYear()).toString();\n//msg.payload = IST;\nmsg.payload = (msg.payload.toString()).slice(0, -14);\nreturn msg;","outputs":1,"noerr":0,"x":1265.0000190734863,"y":438.75000762939453,"wires":[["85d10f94.e92a4"]]},{"id":"a415903c.1833a","type":"ui_text","z":"deb0d57.1c46528","group":"549337c6.7a50d8","order":2,"width":"6","height":"3","name":"","label":"Last Updated","format":"{{msg.payload}}","layout":"col-center","x":1548.75,"y":368.75,"wires":[]},{"id":"85d10f94.e92a4","type":"ui_text","z":"deb0d57.1c46528","group":"f2dcd635.6b8308","order":0,"width":"6","height":"3","name":"","label":"Last Updated","format":"{{msg.payload}}","layout":"col-center","x":1530,"y":436.25,"wires":[]},{"id":"22f401c6.caa20e","type":"slackbot-listen","z":"deb0d57.1c46528","slackbot":"64af3e36.83539","name":"","x":92.5,"y":330.0000057220459,"wires":[["15c9caee.88de85"]]},{"id":"7e9de133.29bf7","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":393,"y":355,"wires":[]},{"id":"6f0179ff.98c498","type":"ui_template","z":"deb0d57.1c46528","group":"23537295.a10a5e","name":"","order":2,"width":0,"height":0,"format":"<!-- CSS Styles -->\n<style>\n  .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}\n  .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}\n  .speech img {float: right; width: 40px }\n</style>\n\n<!-- Search Form -->\n<form id=\"labnol\" method=\"get\" action=\"https://www.google.com/search\">\n  <div class=\"speech\">\n    <input type=\"text\" name=\"q\" id=\"transcript\" placeholder=\"speak\" />\n    <img onclick=\"startDictation()\" src=\"//i.imgur.com/cHidSVu.gif\" />\n  </div>\n</form>\n\n\n<!-- HTML5 Speech Recognition API -->\n<script>\n  \n  scope.action = function()\n  {\n  function startDictation() {\n    var recognition = new webkitSpeechRecognition();\n    if (window.hasOwnProperty('webkitSpeechRecognition')) {\n\n      recognition.continuous = false;\n      recognition.interimResults = false;\n\n      recognition.lang = \"en-US\";\n      recognition.start();\n\n      recognition.onresult = function(e) {\n        document.getElementById('transcript').value\n                                 = e.results[0][0].transcript;\n        recognition.stop();\n\t\t\n        //document.getElementById('labnol').submit();\n      };\n    \n\t  \n      recognition.onerror = function(e) {\n        recognition.stop();\n      }\n\n    }\n  }\n  return document.getElementById('transcript').value;\n   }\n  //var key = transcript.value;\n      // or overwrite value in your callback function ...\n  //this.scope.action = function() { return key; }\n  \n</script> \n<md-button ng-click=\"send({payload:action()})\">\n    Click me to send\n</md-button>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":72,"y":411,"wires":[["15c9caee.88de85","7e9de133.29bf7","bc596e9f.34f42"]]},{"id":"1f080559.b9c5db","type":"ui_template","z":"deb0d57.1c46528","group":"195126dd.a7dd19","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<!-- CSS Styles -->\n<style>\n  .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}\n  .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}\n  .speech img {float: right; width: 40px }\n</style>\n\n<!-- Search Form -->\n<form id=\"labnol\" method=\"get\" action=\"https://www.google.com/search\">\n  <div class=\"speech\">\n    <input type=\"text\" name=\"q\" id=\"transcript\" placeholder=\"Speak\" />\n    <img onclick=\"startDictation()\" src=\"//i.imgur.com/cHidSVu.gif\" />\n  </div>\n</form>\n\n<!-- HTML5 Speech Recognition API -->\n<script>\n  function startDictation() {\n\n    if (window.hasOwnProperty('webkitSpeechRecognition')) {\n\n      var recognition = new webkitSpeechRecognition();\n\n      recognition.continuous = false;\n      recognition.interimResults = false;\n\n      recognition.lang = \"en-US\";\n      recognition.start();\n\n      recognition.onresult = function(e) {\n        document.getElementById('transcript').value\n                                 = e.results[0][0].transcript;\n        recognition.stop();\n        //document.getElementById('labnol').submit();\n      };\n\n      recognition.onerror = function(e) {\n        recognition.stop();\n      }\n\n    }\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":76,"y":469,"wires":[[]]},{"id":"4638d13f.18c22","type":"function","z":"deb0d57.1c46528","name":"Light Power Consumtipon","func":"var power = global.get('PowerLight')\n\nif (msg.payload==1)\n{\n   power = (power + 0.006944); \n   // for 10W bulb 5 seconds\n}\n\nglobal.set('PowerLight',power)\nmsg.payload = power;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":627,"wires":[["b8a182d0.6b5e2"]]},{"id":"a8e46220.a32c8","type":"function","z":"deb0d57.1c46528","name":"Fan Power Consuption","func":"var power = global.get('PowerFan')\n\nif (msg.payload==1)\n{\n   power = (power + 0.006944); \n   // for 50W exhaust fan 5 seconds\n}\n\nglobal.set('PowerFan',power)\nmsg.payload = power;\nreturn msg;","outputs":1,"noerr":0,"x":1058,"y":681,"wires":[["b9d242f.d5824c"]]},{"id":"b8a182d0.6b5e2","type":"ui_text","z":"deb0d57.1c46528","group":"549337c6.7a50d8","order":3,"width":"6","height":"3","name":"","label":"Power Consumed","format":"{{msg.payload}} kWh","layout":"col-center","x":1317,"y":603,"wires":[]},{"id":"b9d242f.d5824c","type":"ui_text","z":"deb0d57.1c46528","group":"f2dcd635.6b8308","order":0,"width":"6","height":"3","name":"","label":"Power Consumed","format":"{{msg.payload}} kWh","layout":"col-center","x":1318,"y":654,"wires":[]},{"id":"25a412bf.9530ee","type":"function","z":"deb0d57.1c46528","name":"Total Power Consuption","func":"var power1 = global.get('PowerFan')\nvar power2 = global.get('PowerLight')\nmsg.payload = power1 + power2;\nglobal.set('PowerTotal',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":751,"wires":[["efa4dea0.3e395","17b23b0c.c51345"]]},{"id":"efa4dea0.3e395","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"a2133cbb.b0cdc","order":0,"width":0,"height":0,"gtype":"gage","title":"kWh","label":"kWh","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":720,"wires":[]},{"id":"9f4fdec0.49d9f","type":"function","z":"deb0d57.1c46528","name":"","func":"global.set('PowerLight',0.000)\nglobal.set('PowerFan',0.000)\nglobal.set('PowerTotal',0.000)\nreturn msg;","outputs":1,"noerr":0,"x":1359,"y":531,"wires":[[]]},{"id":"aee87e29.81ccc","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1176,"y":560,"wires":[["9f4fdec0.49d9f"]]},{"id":"44af8300.ec322c","type":"delay","z":"deb0d57.1c46528","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":216,"y":264,"wires":[["15c9caee.88de85"]]},{"id":"17b23b0c.c51345","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.payload = msg.payload * 4.00;\nreturn msg;","outputs":1,"noerr":0,"x":1186,"y":785,"wires":[["5c3d4cf2.14cb54"]]},{"id":"5c3d4cf2.14cb54","type":"ui_text","z":"deb0d57.1c46528","group":"ac9d4a5d.4d52c8","order":0,"width":"6","height":"2","name":"","label":"(*fixed charges may apply)","format":"{{msg.payload}} ?","layout":"row-spread","x":1411,"y":766,"wires":[]},{"id":"64af3e36.83539","type":"slackbot-controller","z":"","name":"Your_Smart_Switch_Board","bot_token":"xoxb-277783901427-saMk50Is7eV4LgXPhMBQGW2D"},{"id":"23537295.a10a5e","type":"ui_group","z":"","name":"How can I help you?","tab":"976886d7.1f3098","order":2,"disp":true,"width":"6"},{"id":"549337c6.7a50d8","type":"ui_group","z":"","name":"Light Bulb","tab":"976886d7.1f3098","order":1,"disp":true,"width":"6"},{"id":"f2dcd635.6b8308","type":"ui_group","z":"","name":"Cooling Fan","tab":"976886d7.1f3098","order":3,"disp":true,"width":"6"},{"id":"195126dd.a7dd19","type":"ui_group","z":"","name":"Default","tab":"5920a74d.c2e648","disp":true,"width":"6"},{"id":"a2133cbb.b0cdc","type":"ui_group","z":"","name":"Total Power Consumed","tab":"976886d7.1f3098","order":4,"disp":true,"width":"6"},{"id":"ac9d4a5d.4d52c8","type":"ui_group","z":"","name":"Estimated Bill Amount","tab":"976886d7.1f3098","order":5,"disp":true,"width":"6"},{"id":"976886d7.1f3098","type":"ui_tab","z":"","name":"Smart Switch Board","icon":"dashboard"},{"id":"5920a74d.c2e648","type":"ui_tab","z":"deb0d57.1c46528","name":"tab2","icon":"dashboard"}]